__pycache__/
afm_lanczos/
lanczos/
!*/lanczos/training_sets/training_sets
!*/lanczos/test_sets/test_sets
!*/lanczos/models/models
pickled/
.idea
*.aux
*.bbl
*.blg
*.log
*.out
*.gz
pickled/N10_Model
pickled/N10_Testset
pickled/N10_Trainset
*.pyc
pickled/N10_Model
pickled/N10_Testset
pickled/N10_Trainset
*.rar
